
@{
    ViewData["Title"] = "Index";
}

<div style="padding: 10px;">
    <div id="widget"></div>
</div>

<script>
    new DevExpress.ui.dxDateBox(document.getElementById("widget"), {
        "opened": true
    });

</script>

