
@{
    ViewData["Title"] = "Index";
}

<div style="padding: 10px;">
    <div id="widget"></div>
</div>

<script>
    new DevExpress.ui.dxLookup(document.getElementById("widget"), {
        "dataSource": [
            "Prepare 2013 Financial",
            "Prepare 3013 Marketing Plan",
            "Update Personnel Files",
            "Review Health Insurance Options Under the Affordable Care Act",
            "Choose between PPO and HMO Health Plan",
            "Google AdWords Strategy",
            "New Brochures",
            "2013 Brochure Designs",
            "Brochure Design Review",
            "Website Re-Design Plan",
            "Rollout of New Website and Marketing Brochures",
            "Update Sales Strategy Documents",
            "Create 2012 Sales Report",
            "Direct vs Online Sales Comparison Report"
        ]
    });

</script>
