
@{
    ViewData["Title"] = "Index";
}

<div style="padding: 10px;">
    <div id="widget"></div>
</div>
<script>
    new DevExpress.ui.dxTreeList(document.getElementById("widget"), {
        "autoExpandAll": true,
        "columns": [
            "position",
            "fullName",
            "email"
        ],
        "dataSource": [
            {
                "id": 1,
                "parentId": 0,
                "fullName": "John Heart",
                "position": "CEO",
                "email": "jheart@dx-email.com"
            },
            {
                "id": 2,
                "parentId": 1,
                "fullName": "Samantha Bright",
                "position": "COO",
                "email": "samanthab@dx-email.com"
            },
            {
                "id": 3,
                "parentId": 1,
                "fullName": "Arthur Miller",
                "position": "CTO",
                "email": "arthurm@dx-email.com"
            },
            {
                "id": 4,
                "parentId": 1,
                "fullName": "Robert Reagan",
                "position": "CMO",
                "email": "robertr@dx-email.com"
            },
            {
                "id": 5,
                "parentId": 2,
                "fullName": "Greta Sims",
                "position": "HR Manager",
                "email": "gretas@dx-email.com"
            }
        ],
        "showRowLines": true
    });

</script>

