
@{
    ViewData["Title"] = "CheckBox";
}

<h1>CheckBox</h1>

<div id="checkBoxContainer"></div>
<script>
    $(document).ready(function () {
        $('#checkBoxContainer').dxCheckBox({
            text: 'Check Me',
            value: null
        })
    })
</script>

