
@{
    ViewData["Title"] = "Index";
}

<div style="padding: 10px;">
    <div id="widget"></div>
</div>
<script>
    new DevExpress.ui.dxDataGrid(document.getElementById("widget"), {
        "dataSource": [
            {
                "ID": 1,
                "CompanyName": "Super Mart of the West",
                "City": "Bentonville",
                "State": "Arkansas"
            },
            {
                "ID": 2,
                "CompanyName": "Electronics Depot",
                "City": "Atlanta",
                "State": "Georgia"
            },
            {
                "ID": 3,
                "CompanyName": "K&S Music",
                "City": "Minneapolis",
                "State": "Minnesota"
            },
            {
                "ID": 4,
                "CompanyName": "Tom's Club",
                "City": "Issaquah",
                "State": "Washington"
            },
            {
                "ID": 5,
                "CompanyName": "E-Mart",
                "City": "Hoffman Estates",
                "State": "Illinois"
            }
        ]
    });
</script>