
@{
    ViewData["Title"] = "SelectBox";
}

<h1>SelectBox</h1>
<div id="selectBox"></div>
<script>
    const data = [{
        ID: 1,
        Name: 'Nilufer',
        Category: 'Kitap'
    },
    {
        ID: 2,
        Name: 'Passat',
        Category: 'Araba'
    },
    {
        ID: 3,
        Name: 'Bardak',
        Category: 'Porselen'
    },
    {
        ID: 4,
        Name: 'Banana',
        Category: 'Fruits'
    }, {
        ID: 5,
        Name: 'Cucumber',
        Category: 'Vegetables'
    }, {
        ID: 6,
        Name: 'Apple',
        Category: 'Fruits'
    }, {
        ID: 7,
        Name: 'Tomato',
        Category: 'Vegetables'
    }, {
        ID: 8,
        Name: 'Apricot',
        Category: 'Fruits'
    }
    ];

    $(document).ready(function () {
        $('#selectBox').dxSelectBox({
            dataSource: data,
            valueExpr: 'ID',//Value değeri
            displayExpr: 'Name',//Gösterilecek sonuc değeri
            searchEnabled: true,
            onValueChanged: function (e) {
                console.log(e.value);
                console.log(e.previousValue);
            }
        })
    })
</script>
