@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
@(Html.DevExtreme().SelectBox().ID("FirmaTur")
    .DisplayExpr("Text").NoDataText("Gösterilecek kayıt bulunamadı."))
<br />
<br />
<br />
<br />
<button id="PivotGrid" class="btn btn-outline-info"> Pivot Grid e git</button>
<button id="ListSelection" class="btn btn-outline-info"> List Selection a git</button>
<script>
    $('#PivotGrid').click(function () {
        window.location.href = 'https://localhost:44384/pivotgrid/Index';
    });
    $('#ListSelection').click(function () {
        window.location.href = 'https://localhost:44384/ListSelection/ListSelection';
    });
</script>



